<!DOCTYPE html>
<html>

<head>
    <title>CNL Foods</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/order-items.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
</head>

<body>

    <div id="background-header" style="position:absolute;"></div>

    <div id="container">

        <div id="header" style="position:absolute;">

            <a href="index.html"><img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo" /></a>

            <p class="slogan">Get a taste of Korean food at UofT</p>

            <ul id="ul-header">
                <li><a href="index.html">Home</a></li>
                <li><a href="About.html">About Us</a></li>
                <li><a class="active" href="Menu.html">Menu</a></li>
                <li><a href="Login.html">Login</a></li>
                <li>
                    <button class="cart">
                        <span>My Cart</span>
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>

        </div>

        <div id="empty"></div>

        <div>


            <!-- This is where we create the menu for the food items -->
            <div class="navbar">
                <div class="dropdown">
                  <button class="dropbtn">Assorted 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="KSRB.html">Kimchi Spam Rice Ball</a>
                    <a href="TMRB.html">Tuna Mayo Rice Ball</a>
                    <a href="BEV.html">Beverages</a>
                  </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Sides
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="Side_Coleslaw.html">Coleslaw</a>
                      <a href="Side_Cornsalad.html">Corn Salad</a>
                      <a href="Side_Edamame.html">Edamame</a>
                    </div>
                  </div>
                </div>
        </div>
    </div>

        <!-- Ordering place -->
        <h2>Order Edamame</h2>
        <div class="price-box">
            <div class="options">
              <div class="size">
                <label for="size-select">Size:</label>
                <select id="size-select" name="size">
                  <option value="small">Small</option>
                  <option value="medium" selected>Medium</option>
                  <option value="large">Large</option>
                </select>
              </div>
              <div class="quantity">
                <label for="quantity-input">Quantity:</label>
                <input id="quantity-input" type="number" name="quantity" value="0" min="0" max="10">
              </div>
              <div class="instructions">
                <label for="instructions">Special Instructions:</label>
                <textarea id="instructions" name="instructions" rows="4" cols="50"></textarea>
              </div>
              <div class="purchase-container">
                <h2>Individual Prices of the Item</h2>
                <p>Small: $2.99 | Medium: $3.49 | Large: $4.09</p>
                <h3>The cost of your purchase is:</h3>
                <div class="price">${{ item_price }}</div>
                <p>Please Add to Cart to confirm purchase.</p>
                <button type="submit">Add to Cart</button>
              </div>
            </div>
          </div>  

<!--Footer starts here-->

<div id="background-footer-hidden">

    <div class="footer">
        <p>Created by: Chris Yan and Leo Jeong</p>
        <p>&copy; 2023 CNL Foods. All Rights Reserved.</p>
    </div>

</div>

<div id="background-footer">
    <div class="footer">
        <a href="Contact.html" class="footer-text">Contact Us</a>
        <p class="footer-text">Created by: Chris Yan and Leo Jeong</p>
        <p class="footer-text">&copy; 2023 CNL Foods. All Rights Reserved.</p>
        <a href="https://goo.gl/maps/nLAZLsWLe7KaQxCdA" class="footer-text">1265 Military Trail, Scarborough, ON M1C 1A4</a>
    </div>

</div>
<script src="{{url_for('static', filename='js/orders/order-edamame.js')}}" type="text/javascript"></script>
</body>

</html>