body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family : Verdana,Tahoma, sans-serif;
  }
  
  #main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    position: relative;
    text-align: center;
    padding: auto;
    margin: auto;
    margin-top: 50px;
  }
  
  #signup-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  
  .signup-form-field::placeholder {
    color: #3a3a3a;
  }
  
  .signup-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }
  
  #signup-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    position: relative;
    margin: auto;
    margin-bottom: 5px;
  }
  #signup-form-sign-up {
    width: 30%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: darkblue;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    margin: auto;
    margin-bottom: 5px;
  }

  #signup-form-button {
    color: green;
    padding: auto;
    position: relative;
    margin: auto;
    margin-bottom: 5px;
    background-color: azure;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: bold;
  }