<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Chris's TUT 9 Page</title>
  </head>

  <body>
    <div class="container">
      <h1>Adding a value to the database</h1>
      <form action="/add-value" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="age">Age</label>
        <input type="number" name="age" id="age" />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>