<!DOCTYPE html>
<html>

<head>
    <title>CNL Foods</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_LagaHj7Jqhui85MHrb5p5KhwOT4hhZg&callback=initMap"></script>
    <meta charset="UTF-8">
</head>

<body>

    <div id="background-header" style="position:absolute;"></div>

    <div id="container">

        <div id="header" style="position:absolute;">

            <a href="index.html"><img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo" /></a>

            <p class="slogan">Get a taste of Korean food at UofT</p>

            <ul id="ul-header">
                <li><a href="index.html">Home</a></li>
                <li><a href="About.html">About Us</a></li>
                <li><a href="Menu.html">Menu</a></li>
                <li><a href="Login.html">Login</a></li>
                <li>
                    <a href="MyCart.html"><button class="cart">
                        <span>My Cart</span>
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </button></a>
                </li>
            </ul>

        </div>

        <div id="empty"></div>

        <div id="contact">
            <div id="contact-form">
                <form id="contact-form" action="https://www.linkedin.com/in/leoj1566/" method="POST">
                    Name:
                    <br>
                    <input type="text" name="name"></input>
                    <br> Email:
                    <br>
                    <input type="text" name="email"></input>
                    <br> Subject:
                    <br>
                    <input type="text" name="subject"></input>
                    <br> Your message:
                    <br>
                    <textarea name="message"></textarea>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div id="beside-contact">
                <h2>Thank you for contacting us!</h2>
                <h3>We are grateful for any feedback you provide as we strive to make our food and service better every single day.</h3>
                <a href="About.html"><img class="img_logo" src="/static/img/logo.png" alt="Logo"></a>
            </div>
        </div>

    </div>
<!--Footer starts here-->

<div id="background-footer-hidden">

    <div class="footer">
        <p>Created by: Chris Yan and Leo Jeong</p>
        <p>&copy; 2023 CNL Foods. All Rights Reserved.</p>
    </div>

</div>

<div id="background-footer">
    <div class="footer">
        <a href="Contact.html" class="footer-text">Contact Us</a>
        <p class="footer-text">Created by: Chris Yan and Leo Jeong</p>
        <p class="footer-text">&copy; 2023 CNL Foods. All Rights Reserved.</p>
        <a href="https://goo.gl/maps/nLAZLsWLe7KaQxCdA" class="footer-text">1265 Military Trail, Scarborough, ON M1C 1A4</a>
    </div>

</div>

</body>

</html>