<!DOCTYPE html>
<html>

<head>
    <title>CNL Foods</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
</head>

<body>

    <div id="background-header" style="position:absolute;"></div>

    <div id="container">

        <div id="header" style="position:absolute;">

            <img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo" />

            <p class="slogan">Get a taste of Korean food at UofT</p>

            <ul id="ul-header">
                <li><a href="index.html">Home</a></li>
                <li><a href="About.html">About Us</a></li>
                <li><a class="active" href="Menu.html">Menu</a></li>
                <li><a href="Contact.html">Contact</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>

        </div>

        <div id="empty"></div>

        


    </div>

    <div id="background-footer-hidden">

        <div class="footer">
            <p>Created by: Chris Yan and Leo Jeong</p>
            <p>&copy; 2023 CNL Foods. All Rights Reserved.</p>
        </div>

    </div>

    <div id="background-footer">

        <div class="footer">
            <p>Created by: Chris Yan and Leo Jeong</p>
            <p>&copy; 2023 CNL Foods. All Rights Reserved.</p>
        </div>

    </div>

</body>

</html>