<!DOCTYPE html>
<html>

<head>
    <title>CNL Foods</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/sign-up.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="background-header" style="position:absolute;"></div>

<div id="container">

    <div id="header" style="position:absolute;">

        <img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo" />

        <p class="slogan">Get a taste of Korean food at UofT</p>

        <ul id="ul-header">
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="Menu.html">Menu</a></li>
            <li><a class="active" href="Login.html">Login</a></li>
            <li>
                <button class="cart">
                    <span>Add to Cart</span>
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </button>
            </li>
        </ul>

    </div>

    <div id="empty"></div>

</div>


<body>
    <main id="main-holder">
      <h1 id="login-header">Sign Up</h1>
      
      <form id="login-form">
        <input type="text" name="email" id="email-field" class="login-form-field" placeholder="Enter Email">
        <input type="text" name="username" id="username-field" class="login-form-field" placeholder="New Username">
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="New Password">
        <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Confirm New Password">
        <input type="submit" value="Sign Up" id="signup-form-submit">
      </form>
    
    </main>





    <!--Footer starts here-->

    <div id="background-footer-hidden">

        <div class="footer">
            <p>Created by: Chris Yan and Leo Jeong</p>
            <p>&copy; 2023 CNL Foods. All Rights Reserved.</p>
        </div>

    </div>

    <div id="background-footer">
        <div class="footer">
            <a href="Contact.html" class="footer-text">Contact Us</a>
            <p class="footer-text">Created by: Chris Yan and Leo Jeong</p>
            <p class="footer-text">&copy; 2023 CNL Foods. All Rights Reserved.</p>
            <a href="https://goo.gl/maps/nLAZLsWLe7KaQxCdA" class="footer-text">1265 Military Trail, Scarborough, ON M1C 1A4</a>
        </div>

    </div>

    <script src="login.js"></script>

  </body>


</html>



